body {

    margin: 0%;
    padding: 0%;

}

html {

    background-color: #0C0D11;

}

#pageHead {
    
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

#headerIcon {

    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;

}

#headerText {

    font-size: 30px;
    font-family: 'Tourney', cursive;
    /*color: rgb(179, 245, 225);*/
    color: cornflowerblue;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;

}

#codeBox {

    margin-left: 20%;
    padding-left: 2%;
    border-left: solid black;

}

#codeBoxCode {

    font-size: 17px;
    font-family: 'JetBrains Mono', monospace;
    color: wheat;

}

#spigotPlugins {

    background-color: 090909;
    display: flex;
    margin-left: 20%;
    justify-content: flex-end;
    justify-content: space-evenly;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: solid black 2px;
    border-right: none;

}

#spigotPluginsText {

    color: cornsilk;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 22px;

}

#spigotPluginsLogo {

    color: cornsilk;
    font-family: 'JetBrains Mono', monospace;
    margin-top: auto;
    margin-bottom: auto;

}

#pluginBox {

    display: flex;
    justify-content: left;
    background-color: #090909;
    width: 50%;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    cursor: pointer;
    border: solid black 2px;
    border-left: none;

}

#pluginText {

    text-decoration: none;
    font-family: 'Baloo Chettan 2', cursive;
    color: #EE8A19;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;

}

#pluginIcon {

    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    border-radius: 50%;

}